

<div class="content">
  <app-missionfilter (filterChanged)="applyFilter($event)"></app-missionfilter>

  <div class="mission-grid">
    <mat-card *ngFor="let mission of filteredMissions" class="mission-card">
      <mat-card-header>
        <mat-card-title class="mission-title">{{ mission.mission_name }}</mat-card-title>
        <mat-card-subtitle class="flight-number">Flight #: {{ mission.flight_number }}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image class="mission-patch" [src]="mission.links.mission_patch_small" alt="{{ mission.mission_name }}" />

      <mat-card-content>
        <p class="launch-year"><strong>Launch Year:</strong> {{ mission.launch_year }}</p>
        <p class="mission-details">{{ mission.details || 'No details available' }}</p>
      </mat-card-content>



      <button mat-button (click)="viewDetails(mission.flight_number)">View Details</button>
    </mat-card>
  </div>
</div>
