<div *ngIf="missionDetails" class="mission-details">
  <mat-card class="details-card">
    <mat-card-header>
      <mat-card-title class="miss-head">{{ missionDetails.mission_name }}</mat-card-title>
      <mat-card-subtitle class="miss-head">{{ missionDetails.launch_year }} - Flight #{{ missionDetails.flight_number }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image class="mission-patch" [src]="missionDetails.links.mission_patch" alt="{{ missionDetails.mission_name }}" />

    <mat-card-content>
      <div class="details-container">
        <p><strong>Rocket:</strong> {{ missionDetails.rocket.rocket_name }} ({{ missionDetails.rocket.rocket_type }})</p>
        <p><strong>Details:</strong> {{ missionDetails.details || 'No details available' }}</p>
        <p><strong>Launch Year:</strong> {{ missionDetails.launch_year }}</p>

        <div *ngIf="missionDetails.links" class="links">
          <a *ngIf="missionDetails.links.article_link" [href]="missionDetails.links.article_link" target="_blank" mat-button>Article</a>
          <a *ngIf="missionDetails.links.wikipedia" [href]="missionDetails.links.wikipedia" target="_blank" mat-button>Wikipedia</a>
          <a *ngIf="missionDetails.links.video_link" [href]="missionDetails.links.video_link" target="_blank" mat-button>Video</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
